.table{
    width: 50%;
    
}
mat-card{
    height:70%;
    width: 70%;
}
mat-cell{
    height:15%;
    
}
mat-icon{
    cursor: pointer;
    margin-left: 5%;
    width: 25px;
    height: 25px;
    transform: scale(1.5);
}
